/* 
 font-family: "Inter", serif;
 font-family: "DM Sans", serif;
 color code
 #4F9CF9
 #FFE492
 #043873

*/
/* 
Google Font
 */
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,500;1,9..40,500&family=Inter:ital,opsz,wght@0,14..32,900;1,14..32,900&display=swap');
/*
basic css 
*/
body{
    font-family: "Inter", serif;
    font-weight: 400; 
    font-size: 16px;
    background-color: #999;
    color: #fff;
    line-height: 1.7;
}
.theme-button{
display: inline-block;
background-color: #4F9CF9;
border-radius: 8px;
padding:8px 16px !important ;
text-decoration: none;
color: #ffffff;
}
.theme-button img{
    margin-left: 10px;
}
.theme-button-small{
display: inline-block;
background-color:#FFE492 ;
border-radius: 8px;
padding:8px 16px !important ;
color: #043873 !important;
}
.theme-button-three{
display: inline-block;
background-color:#ffffff ;
border-radius: 8px;
border: 1px solid #FFE492;
padding:8px 16px !important ;
color: #043873 !important;
text-decoration: none;
}
.header-area .theme-button  {
    margin-left: 20px;
}

.header-area .theme-button-small  {
    margin-left: 20px;
}

.theme-text h3{
 color: #212529;
 font-size: 54px;
}
.theme-text p {
color: #212529;
font-size: 14px;
}
.theme-text h3 span{
    position: relative;
    z-index: 1;
}
.theme-text h3 span::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 70px;
    left: 0;
    z-index: -1;
    background-image: url(img/element-img.png);
    background-size: cover;
    background-repeat: no-repeat;
}
@media (max-width: 991px){
    .theme-text {
        text-align: center;
       } 
       .theme-text h3{
        font-size: 51px;
        margin-bottom: 24px;
       } 
       .theme-text p{
        font-size:20px ;
       }
}



/* header area */
.header-area{
    background-color: #043873;
    padding: 16px 0;
}
.header-area .nav-link {
    color: #ffffff;
    font-family: "DM Sans", serif;
    font-weight: 500;
    padding:8px 16px !important ;
}
.header-area .navbar-toggler{
    border: none;
    box-shadow: none;
}
@media (max-width: 991px) {
.theme-button{
    width: 100%;
    text-align: center;
    margin-left:0;
    margin-top: 10px;
}  
.theme-button-small{
    width: 100%;
    text-align: center;
    margin-left:0;
    margin-top: 10px;
}
.header-area .nav-link {
    padding: 10px 0 !important;
}
.header-area .nav-link{
    position: relative;
}
.header-area .nav-link::after{
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
}
.header-area .theme-button  {
    margin-left: 0;
}
.header-area .theme-button-small  {
    margin-left: 0;
}
}




/* hreo css */
.hero-area{
    padding: 100px 0;
    background-image: url(img/hero-bg-img.png);
    background-size: cover;
    background-position: center;
}
.hero-area .theme-button{
    margin-top: 25px;
    font-size: 16px;
}
.hero-text h3 {
    font-weight: 600;
    font-size: 42px;
    
}
.hero-text p {
 font-weight: 600;
    font-size: 11px;
    margin-top: 20px;
}

@media (max-width: 991px){
    .hero-area{
        padding: 80px 0;
    }
    .hero-text {
      text-align:center;
    } 
    .hero-text h3{
        font-size: 47px;
    }
    .hero-text p{
        font-size: 18px;
    }

 .hero-area .theme-button{
    margin-bottom: 80px;
    margin-top: 40px;
    }    
}
/* management area css */
.management-area{
    padding: 100px 0;
}
.management-area .theme-button{
    margin-top: 25px;
}
@media (max-width: 991px){
    .management-area .theme-button{
        margin-bottom: 60px;
    }
}
.work-management{
    margin-top:100px ;
}

@media (max-width: 991px){
.work-management{
    margin-top:60px ;
 }
}
.Extension-area {
    background-color: #043873;
    padding: 100px 0;
}
.Extension-area .theme-text h3{
    color: #ffffff;
}
.Extension-area .theme-text p{
    color: #ffffff;
}
@media (max-width: 991px){
    .Extension-area {
        padding: 80px 0;
    }
    .Extension-area .theme-button{
        margin-bottom: 50px;
    }
    .Extension-area .theme-text h3{
        font-size: 63px;
    }
}
/* Customise-area */
.Customise-area{
    background-color: #ffffff;
    padding: 100px 0;
}
@media (max-width: 991px){
    .Customise-area{
        padding: 80px 0;
 }
 .Customise-area .theme-image  {
margin-bottom: 50px;
 }
}
/* pricing area */
.pricing-area{
    background-color: #ffffff;
    padding: 100px 0;
}
.pricing-area .theme-text{
    margin-bottom: 60px;
}
.single-pricing{
    color:#212529;
    border: 1px solid #FFE492;
    border-radius: 10px;
    padding: 32px 36px;
}
.single-pricing ul{
    margin: 0;
    padding: 0;
    margin: 25px 0;
}
.single-pricing h4{
    font-weight: 500;
    font-size: 24px;
}
.single-pricing h2{
    font-weight: 700;
    font-size: 36px;
    margin: 15px 0;
}
.single-pricing ul li{
    list-style: none;
    margin-bottom: 28px;
}
.single-pricing ul li:last-child{
margin: 0;
}
.special-pricing{
    background-color: #043873;
    color: #ffffff;
    padding: 80px 44px;
}
.special-pricing h2{
color: #FFE492;
}
@media (max-width: 991px){
   .pricing-area{
    padding:60px 0;
   }
   .single-pricing{
    margin-top: 30pxgit;
   } 
}