/* 
 font-family: "Inter", serif;
 font-family: "DM Sans", serif;
 color code
 #4F9CF9
 #FFE492
 #043873

*/
/* 
Google Font
 */
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,500;1,9..40,500&family=Inter:ital,opsz,wght@0,14..32,900;1,14..32,900&display=swap');
/*
basic css 
*/
body{
    font-family: "Inter", serif;
    font-weight: 400; 
    font-size: 18px;
    background-color: #c4defd;
    color: #fff;
}
.theme-button{
display: inline-block;
background-color: #4F9CF9;
border-radius: 8px;
margin-left: 24px;
padding:10px 20px !important ;
}
.theme-button img{
    margin-left: 10px;
}
.theme-button-small{
display: inline-block;
background-color:#FFE492 ;
border-radius: 8px;
padding:10px 20px !important ;
color: #043873 !important;
margin-left: 24px;
}
/* header area */
.header-area{
    background-color: #043873;
    padding: 16px 0;
}
.header-area .nav-link {
    color: #ffffff;
    font-family: "DM Sans", serif;
    font-weight: 500;
    padding:10px 20px !important ;
}
.header-area .navbar-toggler{
    border: none;
    box-shadow: none;
}


@media (max-width: 991px) {
.theme-button{
    width: 100%;
    text-align: center;
    margin-left:0;
    margin-top: 10px;
}  
.theme-button-small{
    width: 100%;
    text-align: center;
    margin-left:0;
    margin-top: 10px;
}
.header-area .nav-link {
    padding: 10px 0 !important;
}
.header-area .nav-link{
    position: relative;
}
.header-area .nav-link::after{
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
}
}